body{ 
 background-color: White; 
	} 
p { 
 font-family: serif; 
 font-size: 20px;
 color: Black; 
 } 

h1{ 
font-family: helvetica ;
font-size: 36px; 
color: gray;
font-weight: bold; 
}

li{ 
font-family: san-serif; 
font-size: 30px ;
color: LightGrey; 
}

table{ 
background-color: Beige ;
font-alignment:center; 
width=100%
}
tbody{
background-color: White;
font-alignment:center; 
}

h2{ 
font-alignment: center; 
font-size: 14px; 
font-color: black; 
font-family: Georgia;
text-align:center;
} 
.refer{
font-family: Helvetica; 
font-size: 36px; 
color: black;

 
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.text1{ 
color: #fff700; 
 
top: 10%; right: 50%; 
white-space: nowrap; 
border-right: .15em solid #fff; 
transform: translate(25%, 5%); font-size: 46px; 
overflow: hidden; 
letter-spacing: 0.25em; 
animation: typing 4s steps(30, end) infinite, blink-caret 0.75s step-end infinite; 
} 

@keyframes typing { 
from { 
width: 0; 
} 
to { width: 100%;			} 
}